@model Appointment;

@{
}

<form method="post">

    <div class="border p-3 mt-5">

        <div class="row pb-3 form-group">
            <h2 class="text-dark"><strong>Randevu Ekle</strong></h2>
            </hr>
        </div>

        <div class="form-group">
            <label asp-for="PatientId" class="p-0">Hastalar</label>
            <select asp-for="PatientId" asp-items="ViewBag.PatientList" name="PatientId" class="form-select">
            </select>
        </div>

        <div class="form-group">
            <label asp-for="DoctorId" class="p-0">Doktorlar</label>
            <select id="DoctorList" asp-for="DoctorId" asp-items="ViewBag.DoctorList" name="DoctorId" class="form-select">
                <option>Doktor Seçiniz</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="AppointmentTime" class="p-0">Randevu Saati</label>
            <select id="StateList" asp-for="AppointmentTime" class="form-select">
                <option value="-1">Lütfen Çalışma Saati Seçiniz</option>
            </select>
        </div>

        <div class="mb-3 form-group">
            <label asp-for="Dates">Randevu Tarihi</label>
            <input id="Dates" asp-for="Dates" class="form-control" type="date" min="yyyy-MM-dd" value="yyyy-MM-dd" max="yyyy-MM-dd">
            <span asp-validation-for="Dates" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PoliclinicId" class="p-0">Polikinlik</label>
            <select asp-for="PoliclinicId" asp-items="ViewBag.PoliclinicList" class="form-select">
            </select>
        </div>

        <div class="mb-3 form-group">
            <label asp-for="Description">Açıklama</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-dark" style="width:250px">Randevu Al</button>

        <a asp-controller="Appointment" asp-action="Index" class="btn btn-outline-danger" style="width:250px">
            Randevular Listesi
        </a>

    </div>

</form>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#DoctorList').change(function () {
                var doktorId = $(this).val();
                $.ajax({
                    url: '/Appointment/LoadState',
                    type: 'GET',
                    data: { doktorId: doktorId },
                    success: function (result) {
                        var saatListesi = $('#StateList');

                        saatListesi.empty();
                        saatListesi.append($('<option></option>').val("-1").text("Çalışma Saati Seçiniz"));

                        $.each(result, function (index, item) {
                            saatListesi.append($('<option></option>').val(item.time).text(item.time));
                        });
                    },
                    error: function () {
                        console.error('İstek başarısız oldu.');
                    }
                });
            });

        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("Dates").min = today;
    </script>
}
