@model Doctor;

@{
}

<form method="post">

    <div class="border p-3 mt-5">

        <div class="row pb-3 form-group">
            <h2 class="text-dark"><strong>Doktor Detay</strong></h2>
            </hr>
        </div>


        <div class="mb-3 form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 form-group">
            <label asp-for=Surname></label>
            <input asp-for="Surname" disabled class="form-control">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="mb-3 form-group">
            <label asp-for="Department">Alan</label>
            <input asp-for="Department" disabled class="form-control">
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>

        <br />

        <a asp-controller="Doctor" asp-action="Index" class="btn btn-outline-dark" style="width:250px">
            Doktorlar Listesine Dön
        </a>

    </div>

</form>
